<!--The content below is only a placeholder and can be replaced.-->

<style>
    * { margin: 0px; }
    .Wrapper{height: 100rem; margin: 0px auto;   }
    .header{ background-color:#2794DC; color:white; width: 100%; height: 6.3rem; padding: 1.5rem;}
    .Navie { background-color:#443242; color:grey; width: 20%; height: 80rem; position:absolute; text-align: left;padding: 3rem; font-size: 12;}
    p { font-size:2.5rem;}
    #chatPlace { width: 40rem; display:inline;
    vertical-align: top;}
    .rounded{border-radius: 25px;}
    .logo{float: left; margin-top: -4.5rem; width: 12%}
    a { color: rgb(173, 173, 173); font-size:1.5rem; text-decoration:none; }
    span{display:block;}

</style>

<div class="rounded" style="text-align:center; ">

   
<span *ngIf="loggedList.length == 0">
    <app-homepage></app-homepage>
</span>

<span *ngIf="loggedList.length != 0">



<div class="header">
        <h4><img class="logo" [src]="fullImagePath2"></h4>

    <p style="margin-bottom: -2rem;;">Welcome, {{ loggedList[0].firstName }}!</p><BR>
<i style="font-size: .5rem; margin-top: -4rem;">{{ today | date:'EEEE, MMMM d, y || h:mm a'}}  </i>
</div>

<div class="Navie">

    <hr>
    <h5 style="overflow: hidden; color: white;">Current Channel</h5>
    <span style="overflow: hidden; color: rgb(173, 173, 173);">STATUS_ICON | {{ loggedList[0].username }}</span>
    <BR>
    <BR>

        <a [routerLink]="['dashboard']">Dashboard</a> <BR>

    <a [routerLink]="['chat']">Channels </a> <a (click)="openModal2()">&#8897;</a><BR>
        <div id="contactModal2" class="modal">
          
                 
                                <span>#WillBE</span>
                                <span>#NGFORof</span>
                                <span>#ChannelsYay</span>
              
        
            </div>

            <a [routerLink]="['dashboard']">Direct Messaging </a> <a (click)="openModal2()">&#8897;</a><BR>
                <div id="contactModal2" class="modal">
                        <div class="modal-content">
                          <div id="wrapper">
                                        <span>#WillBE</span>
                                        <span>#NGFORof</span>
                                        <span>#ChannelsYay</span>
                        </div>
                    </div>
                    </div>
      

    <a  href="" (click)="LogoutData(0)" >Logout</a><BR>

    <a [routerLink]="['home']">Home </a> <BR>
    <a [routerLink]="['createChannel']">Create Channel </a> <BR>
    <!-- <a [routerLink]="['exploreUsers']">Explore Users</a> <BR> -->

</div>
</span>

        <div style="width:80%; height:1000px; margin-left: 20%;vertical-align: top;" *ngIf="loggedList.length != 0">
                <router-outlet></router-outlet>
        </div>

