
<style>
    * { margin: 0px; }
    .Wrapper{height: 100rem; margin: 0px auto;   }
    .header{ background-color:#2794DC; color:white; width: 100%; height: 6.3rem; padding: 1.5rem;}
    .Navie { background-color:#443242; color:grey; width: 20%; height: 80rem; position:absolute; text-align: left;padding: 3rem; font-size: 12;}
    p { font-size:2.5rem;}
    #chatPlace { width: 40rem; display:inline;
    vertical-align: top;}
    .rounded{border-radius: 25px;}
    .logo{float: left; margin-top: -4.5rem; width: 12%}
    a { color: rgb(173, 173, 173); font-size:1.5rem; text-decoration:none; }
    span{display:block;}

</style>


<div class="Padme">
<hr>
Username: {{loggedList[0].username}}<BR>
{{loggedList[0].firstName}} {{loggedList[0].lastName}}<BR>

Email: {{loggedList[0].email}}<BR>

<hr>
<BR><BR>

  <span>update profile*</span>
  <span>Status: hide online status</span>
  <span>*AVATAR, may be filler</span>
<hr>
  * loop through channels where UserId is equal to logged userId<BR>
  * loop through all channels<BR>
  *loop through users<BR>
  *recent activity Log from UserSERVICE<BR>
  
  </div>
